@import "compass/reset";


@font-face {
	font-family: 'MyriadPro';
	src: url('../resources/MyriadPro/Light/MyriadPro-Light.eot');
	src: url('../resources/MyriadPro/Light/MyriadPro-Light.woff2') format('woff2'),
	url('../resources/MyriadPro/Light/MyriadPro-Light.woff') format('woff'),
	url('../resources/MyriadPro/Light/MyriadPro-Light.ttf') format('truetype'),
	url('../resources/MyriadPro/Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg'),
	url('../resources/MyriadPro/Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../resources/MyriadPro/Light/ather/myriadpro-light-webfont.woff2') format('woff2'),
         url('../resources/MyriadPro/Light/ather/myriadpro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'MyriadPro';
	src: url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.eot');
	src: url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.woff2') format('woff2'),
	url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.woff') format('woff'),
	url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.ttf') format('truetype'),
	url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
	url('../resources/MyriadPro/Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../resources/MyriadPro/Regular/MyriadPro-Regular.eot');
	src: url('../resources/MyriadPro/Regular/MyriadPro-Regular.woff2') format('woff2'),
	url('../resources/MyriadPro/Regular/MyriadPro-Regular.woff') format('woff'),
	url('../resources/MyriadPro/Regular/MyriadPro-Regular.ttf') format('truetype'),
	url('../resources/MyriadPro/Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
	url('../resources/MyriadPro/Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../resources//Montserrat/Regular/Montserrat-Regular.eot');
	src: url('../resources//Montserrat/Regular/Montserrat-Regular.woff2') format('woff2'),
	url('../resources//Montserrat/Regular/Montserrat-Regular.woff') format('woff'),
	url('../resources//Montserrat/Regular/Montserrat-Regular.ttf') format('truetype'),
	url('../resources//Montserrat/Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
	url('../resources//Montserrat/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}



body {
	font-family: 'MyriadPro', 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background: #fff;
}

$MyriadPro: 'MyriadPro', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

@mixin site-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	background-size: contain;
	background-position: center;
}
@mixin transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin site-pagination {
	@include border-box;
	width: 100%;
	margin: 34px auto 31px;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 6px;

		a {
			display: block;
			color: #828282;
			font: 400 18px / 20px $MyriadPro;
			@include transition;

			&:hover {
				color: #5ca7dc;
			}
		}
		a.pagination-active {
			color: #5ca7dc;
		}
	}
	.desctop {
		display: none;
	}
	@media (min-width: 1024px) {
		margin: 72px auto 16px;
		padding-left: 15px;

		li {
			margin: 0 5px;

			a {
				font-size: 19px;
			}
		}

		.mobile {
			display: none;
		}
		.desctop {
			display: inline-block;
		}
	}
}
@mixin direction {
	@include site-container;
	padding: 10px 0;
	background-color: #5ca7dc;
	.arrow-back {
		float: left;
	}
	.direction-title {
		margin: 0 auto;
		text-align: center;
		a {
			color: white;
			font: 400 15px / 22px $MyriadPro;
			text-transform: uppercase;
		}
	}
}


@mixin mapWrapper {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
	.map-overflow {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		display: block;
		cursor: pointer;
	}
}

@mixin videoWrapper {
	position: relative;
	margin: 15px auto;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	max-width: 971px;
	max-height: 527px;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@mixin section-title {
	margin: 0 auto;
	text-align: center;
	color: black;
	font: 300 24px / 28px $MyriadPro;

	@media (min-width: 768px) {
		font-size: 41px;
		line-height: 47px;
	}
}

.wrapper {
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@include border-box;
	position: relative;
}
a {
	text-decoration: none;
}
.direction {
	@include direction;
}

.section-title {
	@include section-title;
}

.pagination-list {
	@include site-pagination;
}

.videoWrapper {
	@include videoWrapper;
}
.mapWrapper {
	@include mapWrapper;
}

@import "header";
@import "footer";
@import "menu";
@import "main-page";
@import "about-page";
@import "blog-page";
@import "reviews-page";
@import "blog-more-page";
@import "contact-page";
@import "register-OOO-page";
@import "register-PP-page";
@import "customize-OOO-page";
@import "media";